#container{
  position: relative;
  width: 600px;
  height: 600px;
}

table{
  position:absolute;
  border: 1px solid black;
  background-color: cadetblue;
}

td{

  width: 5px;
  height: 5px;
}

.personaje {
  background-color: ghostwhite;
}

.caja{
  background-color:brown;
}

.gema{
  background-color: chartreuse;
}

.cajaOnGema {
  background-color: rgb(104, 88, 67);
}

.personaje2 {
  background-color: ghostwhite;

}
.floor1{
  background-image: url(/assets/images/Floor1.png);
background-position: center;
/* background-size: 60px; */
}