body {
  background-image: url(../assets/images/background-image-1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: rgba(0, 0, 0, 0.5);
}

#container{
  position: relative;
  margin-left: 20%;
  display: none;
  margin-top: 220px;
  
  /*width: 1000px;
  height:1000px;*/
  
}

table{

  border: 1px solid black;
  background-image: url(../assets/images/Floor.png);
  background-position: center;
  background-size: 25px;
  border: solid black;
}

td{
  width: 60px;
  height: 60px;
}

.personaje {
  background-image: url(../assets/images/player.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55px;
}

.personajeR{
  background-image: url(../assets/images/playerR.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
}

.personajeL{
  background-image: url(../assets/images/playerL.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
}

.personajeU{
  background-image: url(../assets/images/playerUp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55px;
}

.stone {
  background-image: url(../assets/images/stone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
}

.caja{
  background-image: url(../assets/images/boxM.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
}

.gema{
  background-image: url(../assets/images/gema-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
}
.tp{
  background-image: url(../assets/images/telep.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55px;
}
.floor1{
  background-image: url(../assets/images/Floor.png);
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
}

#boxOnGema {
  display: none;
}

#moveStone {
  display: none;
}

#soundGame {
  display: block;
}

#background {
  position: relative;
  background-size: 800px;
  width: 800px;
  height: 800px;
  margin: auto;

}

#win {
  position: relative;
  width: 800px;
  height: 800px;
  margin: auto;
  display: none;
}


button {
  border: none;
  width: 400px;
  height: 100px;
  font-size: 40px;
  font-weight: 900;
  padding-top: 10px;
  margin-left: 25%;
  font-family: fantasy;
  background-size: 400px; 
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../assets/images/buttonMenu.png);
}

.nextLevel{
  margin-top: 100px;
  margin-left: 200px;

}

#history-position {
width: 1000px;
margin-top: 300px;
margin-left:110px;
display: none;
}


.botonStart {
  margin-top: 350px;
  text-align: center;
 
}

.botonOptions {
  margin-top: 40px; 

}


#soundButtons {
  position: relative;
  margin-left: 43%;

}

.volumeOn {
  display: none;
  background-image: url(../assets/images/volumeOn.png);
  width: 50px;
  height: 50px;
  background-size:40px; 
  float: left;
  margin-left: 0px;
  
}

.volumeOff {
  display: none;
  background-image: url(../assets/images/volumeOff.png);
  width: 50px;
  height: 50px;
  background-size:40px; 
  float: left;
  margin-left: 0px;
 
 }

#buttonUp {
  display: none;
  float: left;
  background-image: url(../assets/images/picVolumeUp.png);
  width: 50px;
  height: 50px;
  background-size:20px; 
  margin-left: 0px;
}

#buttonDown {
  display: none;
  background-image: url(../assets/images/picVolumeDown.png);
  width: 50px;
  height: 50px;
  background-size:20px; 
  float: left;
  margin-left: 0px;
  
}

.botonLevels {
  margin-top: 40px;

}

